h1 {background-color: rgb(255, 255, 0);}
#h1b {color: rgb(255, 0, 0);}
#h1c {color: rgb(43, 255, 0);}
ul>li {color: rgb(0, 225, 255);}
ol>li {color: rgb(255, 0, 0);}
.mas-gusta {background-color: rgb(255, 0, 0); color: rgb(255, 166, 0)}